Repository upmaru/tama-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team, @upmaru/docs-team, @upmaru/devops-team, @upmaru/testing-team, @upmaru/legal-team, @upmaru/security-team

Fix all linting issues
  client.go
  oauth2_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/testing-team

Update thought to be able to set faculty
  perception/shared_test.go
  perception/thought.go
  perception/thought_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add new context 'system' and add 'queue' resource
  client.go
  system.go
  system/queue.go
  system/queue_test.go
  system/service.go
  system/shared_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/testing-team

Fix issue with linter and vulnerability check
  perception/shared_test.go
  system/queue_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix linter
  .tool-versions
  motor/modifier_test.go
  perception/activation_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update go to 1.24
  .tool-versions
  go.mod
Owners: @upmaru/maintainers, @upmaru/core-team

Update ci for go 1.24
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @upmaru/maintainers, @upmaru/devops-team

Update go resty
  go.mod
  go.sum
Owners: @upmaru/maintainers, @upmaru/core-team

Update go version
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @upmaru/maintainers, @upmaru/devops-team

Added id for queue
  system/queue.go
  system/queue_test.go
  system/shared_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Don't omitempty for faculty of thought
  perception/thought.go
Owners: @upmaru/maintainers

Add source request parameter
  go.mod
  go.sum
  sensory/source.go
  sensory/source_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/sensory-team, @upmaru/testing-team

Add request to source struct
  sensory/source.go
Owners: @upmaru/maintainers, @upmaru/sensory-team

Add pruning parameters and resource
  perception/pruning.go
  perception/pruning_test.go
  perception/shared_test.go
  sensory/source_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Implement tool trusted modifier client
  README.md
  docs/README.md
  docs/tools.md
  tools.go
  tools/modifier.go
  tools/modifier_test.go
  wip/trusted-tool-modifier-api.md
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Fix linter and vulneratiblity checks
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .tool-versions
  go.mod
  go.sum
  tools/modifier_test.go
Owners: @upmaru/maintainers, @upmaru/devops-team, @upmaru/core-team, @upmaru/testing-team

Update ci golint
  .github/workflows/ci.yml
  .golangci.yml
  .tool-versions
  integration_test.go
  perception/activation.go
  perception/directive.go
  perception/pruning.go
  perception/thought_test.go
  perception/tool.go
Owners: @upmaru/maintainers, @upmaru/devops-team, @upmaru/testing-team

Set minimum go to 1.24 for compatibility
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .tool-versions
  go.mod
  go.sum
Owners: @upmaru/maintainers, @upmaru/devops-team, @upmaru/core-team

Use 1.25 as a minimum
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .tool-versions
  go.mod
  go.sum
Owners: @upmaru/maintainers, @upmaru/devops-team, @upmaru/core-team

Update actions and mise config
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .tool-versions
  mise.toml
Owners: @upmaru/maintainers, @upmaru/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tama-go
# This file defines who should be automatically requested for review
# when changes are made to specific files or directories

# Global owners - these users will be requested for review on every PR
* @upmaru/maintainers

# Core library files
/client.go @upmaru/maintainers @upmaru/core-team
/neural.go @upmaru/maintainers @upmaru/core-team
/sensory.go @upmaru/maintainers @upmaru/core-team
/types.go @upmaru/maintainers @upmaru/core-team

# Neural package
/neural/ @upmaru/maintainers @upmaru/neural-team

# Sensory package
/sensory/ @upmaru/maintainers @upmaru/sensory-team

# Documentation - require approval from documentation team
*.md @upmaru/maintainers @upmaru/docs-team
/docs/ @upmaru/maintainers @upmaru/docs-team

# CI/CD and GitHub configuration
/.github/ @upmaru/maintainers @upmaru/devops-team
/.golangci.yml @upmaru/maintainers @upmaru/devops-team
/Makefile @upmaru/maintainers @upmaru/devops-team

# Go module files - require core team approval
/go.mod @upmaru/maintainers @upmaru/core-team
/go.sum @upmaru/maintainers @upmaru/core-team

# Example code
/example/ @upmaru/maintainers @upmaru/docs-team

# Test files - require approval from testing team
*_test.go @upmaru/maintainers @upmaru/testing-team

# License and legal files
/LICENSE @upmaru/maintainers @upmaru/legal-team
/NOTICE @upmaru/maintainers @upmaru/legal-team

# Security-related files
/SECURITY.md @upmaru/maintainers @upmaru/security-team

# Configuration files
*.yml @upmaru/maintainers @upmaru/devops-team
*.yaml @upmaru/maintainers @upmaru/devops-team
*.json @upmaru/maintainers

# Specific critical files that require additional scrutiny
/neural/service.go @upmaru/maintainers @upmaru/core-team @upmaru/neural-team
/sensory/service.go @upmaru/maintainers @upmaru/core-team @upmaru/sensory-team
