Repository upmaru/tama-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team, @upmaru/docs-team, @upmaru/devops-team, @upmaru/testing-team, @upmaru/legal-team, @upmaru/security-team

.github/CODEOWNERS:

# CODEOWNERS file for tama-go
# This file defines who should be automatically requested for review
# when changes are made to specific files or directories

# Global owners - these users will be requested for review on every PR
* @upmaru/maintainers

# Core library files
/client.go @upmaru/maintainers @upmaru/core-team
/neural.go @upmaru/maintainers @upmaru/core-team
/sensory.go @upmaru/maintainers @upmaru/core-team
/types.go @upmaru/maintainers @upmaru/core-team

# Neural package
/neural/ @upmaru/maintainers @upmaru/neural-team

# Sensory package
/sensory/ @upmaru/maintainers @upmaru/sensory-team

# Documentation - require approval from documentation team
*.md @upmaru/maintainers @upmaru/docs-team
/docs/ @upmaru/maintainers @upmaru/docs-team

# CI/CD and GitHub configuration
/.github/ @upmaru/maintainers @upmaru/devops-team
/.golangci.yml @upmaru/maintainers @upmaru/devops-team
/Makefile @upmaru/maintainers @upmaru/devops-team

# Go module files - require core team approval
/go.mod @upmaru/maintainers @upmaru/core-team
/go.sum @upmaru/maintainers @upmaru/core-team

# Example code
/example/ @upmaru/maintainers @upmaru/docs-team

# Test files - require approval from testing team
*_test.go @upmaru/maintainers @upmaru/testing-team

# License and legal files
/LICENSE @upmaru/maintainers @upmaru/legal-team
/NOTICE @upmaru/maintainers @upmaru/legal-team

# Security-related files
/SECURITY.md @upmaru/maintainers @upmaru/security-team

# Configuration files
*.yml @upmaru/maintainers @upmaru/devops-team
*.yaml @upmaru/maintainers @upmaru/devops-team
*.json @upmaru/maintainers

# Specific critical files that require additional scrutiny
/neural/service.go @upmaru/maintainers @upmaru/core-team @upmaru/neural-team
/sensory/service.go @upmaru/maintainers @upmaru/core-team @upmaru/sensory-team

Remove old api reference
  API_REFERENCE_LEGACY.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Fix linter and clean up formatting
  memory/service.go
  neural/node.go
  neural/service.go
  perception/chain.go
  perception/context.go
  perception/path.go
  perception/service.go
  sensory/limit.go
  sensory/service.go
  sensory/source.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/core-team, @upmaru/sensory-team

Add documentation for node
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Update documentation
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement perception processor
  perception/processor.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update documentation
  docs/perception.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Add thought delegation resource
  docs/perception.md
  perception/delegation.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Fix formatting for linter
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Remove delegation resource
  perception/delegation.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update thought to either have module or delegation
  docs/perception.md
  example/main.go
  integration_test.go
  perception/thought.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Fix linting issues
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Relation omit empty
  perception/thought.go
Owners: @upmaru/maintainers

Remove validation for existence of relation
  perception/thought.go
Owners: @upmaru/maintainers

Fix issue where index: 0 is not being passed into the request
  perception/thought.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix test and linting errors
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Clean up perception_test.go
  client_test.go
  memory_test.go
  neural_test.go
  perception/chain_test.go
  perception/context_test.go
  perception/path_test.go
  perception/processor_test.go
  perception/shared_test.go
  perception/thought_test.go
  perception_test.go
  sensory_test.go
  shared_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Setup module input
  client.go
  example/main.go
  integration_test.go
  perception/module/input.go
  perception/module/input_test.go
  perception/service.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/docs-team, @upmaru/testing-team

Fix all linting errors
  perception/module/input_test.go
  perception/service.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add thought_id to module/input.go
  perception/module/input.go
Owners: @upmaru/maintainers

Add thought_id to tests
  perception/module/input_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add bridge and class documentation
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Add corpus documentation
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Add ToC
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Clean ToC for neural docs
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement action resource
  client.go
  docs/README.md
  docs/motor.md
  motor.go
  motor/action.go
  motor/action_test.go
  motor/service.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/docs-team, @upmaru/testing-team

Implement perception/tool resource
  perception/tool.go
  perception/tool_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Clean up documentation for perception.md
  docs/perception.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement contexts/input resource
  contexts/input.go
  contexts/input_test.go
  contexts/service.go
  docs/README.md
  docs/contexts.md
Owners: @upmaru/maintainers, @upmaru/testing-team, @upmaru/docs-team

Fix linting errors
  contexts/input.go
Owners: @upmaru/maintainers

Update readme
  docs/README.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Add missing contexts.go and update client.go
  client.go
  contexts.go
Owners: @upmaru/maintainers, @upmaru/core-team

Add new way to get source
  sensory/source.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/sensory-team, @upmaru/testing-team

Refactor sensory_test into separate tests based on resources in sensory/
  sensory/error_test.go
  sensory/identity_test.go
  sensory/limit_test.go
  sensory/model_test.go
  sensory/shared_test.go
  sensory/source_test.go
  sensory/specification_test.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix linting error
  sensory/source.go
Owners: @upmaru/maintainers, @upmaru/sensory-team

Add documentation for new function call
  docs/sensory.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Refactored test cases into separate files based on resources
  neural/bridge_test.go
  neural/class_test.go
  neural/corpus_test.go
  neural/node_test.go
  neural/processor_test.go
  neural/shared_test.go
  neural/space_test.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Refactor memory_test.go into the memory/ package
  memory/prompt_test.go
  memory/shared_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

fix linting issues
  memory/shared_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add GetClassBySpecificationAndName function
  neural/class.go
  neural/class_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Update documentation to include new function
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team
