Repository upmaru/tama-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team, @upmaru/docs-team, @upmaru/devops-team, @upmaru/testing-team, @upmaru/legal-team, @upmaru/security-team

Add class operation
  neural/class/operation.go
  neural/class/operation_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Fix linting issue
  neural/class/operation.go
Owners: @upmaru/maintainers, @upmaru/neural-team

Update documentation
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Fix documentation
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Update Documentation TOC
  docs/neural.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Add GetClassBySpaceAndName function and documentation
  docs/neural.md
  neural/class.go
  neural/class_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/neural-team, @upmaru/testing-team

Add GetCorpusByClassAndSlug function call
  neural/corpus.go
  neural/corpus_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Add ability to query action by path
  motor/action.go
  motor/action_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update GetActionByPath to GetActionByPathAndMethod
  motor/action.go
  motor/action_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update documentation
  docs/motor.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Improve documentation
  docs/motor.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Clean up docs
  docs/motor.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Setup initializer.go resource with tests
  perception/initializer.go
  perception/initializer_test.go
  perception/shared_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix formatting issue
  perception/initializer_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add documentation for initializer
  docs/perception.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Ignore dupl linter
  WARP.md
  perception/activation.go
  perception/activation_test.go
  perception/helper.go
  perception/shared_test.go
  perception/tool.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add documentation for activation
  docs/perception.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement tools/input and tools/initializer resources
  client.go
  tools.go
  tools/initializer.go
  tools/initializer_test.go
  tools/input.go
  tools/input_test.go
  tools/service.go
  tools/shared_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/testing-team

Fix comment
  tools.go
Owners: @upmaru/maintainers

Fix index parameter on initializer
  docs/tools.md
  tools/initializer.go
  tools/initializer_test.go
  tools/shared_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Fix linting error
  tools/initializer_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Add listener and topic
  docs/memory.md
  docs/neural.md
  memory/topic.go
  memory/topic_test.go
  neural/listener.go
  neural/listener_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team, @upmaru/neural-team

Fix all linting errors
  memory/topic.go
  memory/topic_test.go
  neural/bridge.go
  neural/listener.go
  neural/listener_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team, @upmaru/neural-team

Add modifier resource
  docs/motor.md
  motor/modifier.go
  motor/modifier_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Implement tools output resource
  docs/tools.md
  tools/output.go
  tools/output_test.go
  tools/shared_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add tool output option resource
  docs/tools.md
  tools/option.go
  tools/option_test.go
  tools/output.go
  tools/shared_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Update identity to support client_id and client_secret properties
  sensory/identity.go
Owners: @upmaru/maintainers, @upmaru/sensory-team

fix validation and add test cases for identity
  sensory/identity.go
  sensory/identity_test.go
Owners: @upmaru/maintainers, @upmaru/sensory-team, @upmaru/testing-team

Add directive resources
  docs/perception.md
  perception/directive.go
  perception/directive_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add secret to listener
  neural/bridge.go
  neural/listener.go
  neural/listener_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Add neural filter resource
  neural/bridge.go
  neural/filter.go
  neural/filter_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Add target_thought_id to directive resource
  perception/directive.go
  perception/directive_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix chain_test.go
  perception/chain_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix chain_test.go
  perception/chain_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Fix client.go
  client.go
Owners: @upmaru/maintainers, @upmaru/core-team

Resolve all tests
  client.go
  memory/topic_test.go
  motor/action_test.go
  motor/modifier_test.go
  neural/bridge_test.go
  neural/filter_test.go
  neural/listener_test.go
  oauth2_demo_test.go
  perception/activation_test.go
  perception/context_test.go
  perception/directive_test.go
  perception/initializer_test.go
  perception/path_test.go
  perception/processor_test.go
  perception/thought_test.go
  perception/tool_test.go
  sensory/identity_test.go
  sensory/model_test.go
  sensory/source.go
  sensory/source_test.go
  sensory/specification_test.go
  tools/initializer_test.go
  tools/input_test.go
  tools/option_test.go
  tools/output_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/testing-team, @upmaru/sensory-team

Fix all tests
  integration_test.go
  oauth2_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Remove oauth 2 migration docs
  OAUTH2_MIGRATION.md
  OAUTH2_MIGRATION_COMPLETE.md
  OAUTH2_MIGRATION_STATUS.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Fix all linting issues and formatting issues
  client.go
  example/oauth2_working.go
  integration_test.go
  memory/prompt_test.go
  memory/topic_test.go
  motor/action_test.go
  motor/modifier_test.go
  neural/filter_test.go
  neural/listener_test.go
  oauth2_test.go
  perception/activation_test.go
  perception/directive_test.go
  perception/initializer_test.go
  perception/module/input_test.go
  perception/path_test.go
  perception/processor_test.go
  perception/thought_test.go
  perception/tool_test.go
  sensory/source_test.go
  tools/input_test.go
  tools/option_test.go
  tools/output_test.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/docs-team, @upmaru/testing-team

Update release task
  .github/workflows/release.yml
Owners: @upmaru/maintainers, @upmaru/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for tama-go
# This file defines who should be automatically requested for review
# when changes are made to specific files or directories

# Global owners - these users will be requested for review on every PR
* @upmaru/maintainers

# Core library files
/client.go @upmaru/maintainers @upmaru/core-team
/neural.go @upmaru/maintainers @upmaru/core-team
/sensory.go @upmaru/maintainers @upmaru/core-team
/types.go @upmaru/maintainers @upmaru/core-team

# Neural package
/neural/ @upmaru/maintainers @upmaru/neural-team

# Sensory package
/sensory/ @upmaru/maintainers @upmaru/sensory-team

# Documentation - require approval from documentation team
*.md @upmaru/maintainers @upmaru/docs-team
/docs/ @upmaru/maintainers @upmaru/docs-team

# CI/CD and GitHub configuration
/.github/ @upmaru/maintainers @upmaru/devops-team
/.golangci.yml @upmaru/maintainers @upmaru/devops-team
/Makefile @upmaru/maintainers @upmaru/devops-team

# Go module files - require core team approval
/go.mod @upmaru/maintainers @upmaru/core-team
/go.sum @upmaru/maintainers @upmaru/core-team

# Example code
/example/ @upmaru/maintainers @upmaru/docs-team

# Test files - require approval from testing team
*_test.go @upmaru/maintainers @upmaru/testing-team

# License and legal files
/LICENSE @upmaru/maintainers @upmaru/legal-team
/NOTICE @upmaru/maintainers @upmaru/legal-team

# Security-related files
/SECURITY.md @upmaru/maintainers @upmaru/security-team

# Configuration files
*.yml @upmaru/maintainers @upmaru/devops-team
*.yaml @upmaru/maintainers @upmaru/devops-team
*.json @upmaru/maintainers

# Specific critical files that require additional scrutiny
/neural/service.go @upmaru/maintainers @upmaru/core-team @upmaru/neural-team
/sensory/service.go @upmaru/maintainers @upmaru/core-team @upmaru/sensory-team
