Repository upmaru/tama-go, changes with the owners that .github/CODEOWNERS names for each.
All owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team, @upmaru/docs-team, @upmaru/devops-team, @upmaru/testing-team, @upmaru/legal-team, @upmaru/security-team

Fix release task
  .github/workflows/release.yml
Owners: @upmaru/maintainers, @upmaru/devops-team

Fix changelog config
  .github/workflows/release.yml
Owners: @upmaru/maintainers, @upmaru/devops-team

Add `Endpoint`, `SpaceID` and `CurrentState` to `Source` struct.
  API_REFERENCE.md
  README.md
  example/main.go
  integration_test.go
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team, @upmaru/core-team, @upmaru/sensory-team

Remove .github/readme
  .github/README.md
Owners: @upmaru/maintainers, @upmaru/devops-team

Update structure for Model
  API_REFERENCE.md
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/sensory-team, @upmaru/testing-team

Improve error handling
  integration_test.go
  neural/service.go
Owners: @upmaru/maintainers, @upmaru/testing-team, @upmaru/core-team, @upmaru/neural-team

Improve error handling
  .zed/settings.json
  API_REFERENCE.md
  README.md
  client.go
  client_test.go
  example/main.go
  neural/space.go
  neural_test.go
  sensory/limit.go
  sensory/model.go
  sensory/service.go
  sensory/source.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/testing-team, @upmaru/neural-team, @upmaru/sensory-team

Fix linter issues
  client_test.go
  example/main.go
  neural/service.go
  neural_test.go
  sensory/service.go
Owners: @upmaru/maintainers, @upmaru/testing-team, @upmaru/docs-team, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team

Add Model.Parameters
  API_REFERENCE.md
  README.md
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/sensory-team, @upmaru/testing-team

Add memory/prompt.go module with test cases
  API_REFERENCE.md
  client.go
  example/main.go
  memory.go
  memory/prompt.go
  memory/service.go
  memory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/testing-team

Clean up code based on linter
  example/main.go
  memory/prompt.go
  memory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add neural processor resource
  API_REFERENCE.md
  README.md
  client.go
  memory/service.go
  memory_test.go
  neural/processor.go
  neural/service.go
  neural_test.go
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/testing-team, @upmaru/neural-team, @upmaru/sensory-team

Change path to use processor type instead
  neural/processor.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/testing-team

Change processor params to ModelID to allow updating ModelID
  API_REFERENCE.md
  neural/processor.go
  neural/service.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/neural-team, @upmaru/core-team, @upmaru/testing-team

Add neural class management endpoints
  API_REFERENCE.md
  example/main.go
  neural/class.go
  neural/service.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/neural-team, @upmaru/core-team, @upmaru/testing-team

Fix linting issues
  example/main.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Remove space type validation
  API_REFERENCE.md
  neural/service.go
  neural/space.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/neural-team, @upmaru/testing-team

Implement base thought and chain resources
  client.go
  client_test.go
  perception.go
  perception/chain.go
  perception/service.go
  perception/thought.go
  perception_test.go
  types.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/testing-team

Fix linting errors
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Update docs
  API_REFERENCE.md
  README.md
  example/main.go
Owners: @upmaru/maintainers, @upmaru/docs-team

Updated thought request to support output_class_id
  API_REFERENCE.md
  README.md
  example/main.go
  perception/service.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Fix error message parsing and flattening of nested objects
  integration_test.go
  memory/service.go
  neural/service.go
  perception/service.go
  perception_test.go
  sensory/service.go
Owners: @upmaru/maintainers, @upmaru/testing-team, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team

Add parameter validation integration test
  integration_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Use omitempty on parameters
  perception/service.go
Owners: @upmaru/maintainers

Change CurrentState to ProvisionState
  API_REFERENCE.md
  README.md
  example/main.go
  memory/service.go
  memory_test.go
  neural/service.go
  neural_test.go
  perception/service.go
  perception_test.go
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team, @upmaru/core-team, @upmaru/neural-team, @upmaru/sensory-team

Add specification resource
  API_REFERENCE.md
  example/elasticsearch_schema.json
  example/main.go
  sensory.go
  sensory/service.go
  sensory/specification.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/core-team, @upmaru/sensory-team, @upmaru/testing-team

fix linter issues
  example/main.go
  sensory/specification.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/sensory-team

add type to source
  sensory/service.go
Owners: @upmaru/maintainers, @upmaru/core-team, @upmaru/sensory-team

Add identity resource to sensory package
  API_REFERENCE.md
  client_test.go
  example/main.go
  sensory.go
  sensory/identity.go
  sensory/service.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team, @upmaru/core-team, @upmaru/sensory-team

Fix all linting issues
  example/main.go
  sensory_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add corpus endpoints and structs
  example/elasticsearch_schema.json
  neural/corpus.go
  neural/service.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/core-team, @upmaru/testing-team

Update documentation for corpus
  .tool-versions
  API_REFERENCE.md
  README.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement path resource
  perception/chain.go
  perception/path.go
  perception/service.go
Owners: @upmaru/maintainers

Update documentation
  API_REFERENCE.md
  README.md
Owners: @upmaru/maintainers, @upmaru/docs-team

Implement context resource
  API_REFERENCE.md
  README.md
  perception/context.go
  perception/service.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/testing-team

Add neural bridge resource with test
  neural/bridge.go
  neural/service.go
  neural_test.go
Owners: @upmaru/maintainers, @upmaru/neural-team, @upmaru/core-team, @upmaru/testing-team

Update documentation
  API_REFERENCE.md
  README.md
Owners: @upmaru/maintainers, @upmaru/docs-team

add ability to set index on thought
  perception/service.go
Owners: @upmaru/maintainers

Add test cases
  perception/service.go
  perception_test.go
Owners: @upmaru/maintainers, @upmaru/testing-team

Clean up directory structure
  API_REFERENCE_LEGACY.md
  README.md
  docs/README.md
  docs/client_configuration.md
  docs/memory.md
  docs/neural.md
  docs/perception.md
  docs/sensory.md
  memory/prompt.go
  memory/service.go
  neural/bridge.go
  neural/class.go
  neural/corpus.go
  neural/node.go
  neural/processor.go
  neural/service.go
  neural/space.go
  neural_test.go
  perception/chain.go
  perception/context.go
  perception/path.go
  perception/service.go
  perception/thought.go
  sensory/identity.go
  sensory/limit.go
  sensory/model.go
  sensory/service.go
  sensory/source.go
  sensory/specification.go
Owners: @upmaru/maintainers, @upmaru/docs-team, @upmaru/neural-team, @upmaru/core-team, @upmaru/testing-team, @upmaru/sensory-team

.github/CODEOWNERS:

# CODEOWNERS file for tama-go
# This file defines who should be automatically requested for review
# when changes are made to specific files or directories

# Global owners - these users will be requested for review on every PR
* @upmaru/maintainers

# Core library files
/client.go @upmaru/maintainers @upmaru/core-team
/neural.go @upmaru/maintainers @upmaru/core-team
/sensory.go @upmaru/maintainers @upmaru/core-team
/types.go @upmaru/maintainers @upmaru/core-team

# Neural package
/neural/ @upmaru/maintainers @upmaru/neural-team

# Sensory package
/sensory/ @upmaru/maintainers @upmaru/sensory-team

# Documentation - require approval from documentation team
*.md @upmaru/maintainers @upmaru/docs-team
/docs/ @upmaru/maintainers @upmaru/docs-team

# CI/CD and GitHub configuration
/.github/ @upmaru/maintainers @upmaru/devops-team
/.golangci.yml @upmaru/maintainers @upmaru/devops-team
/Makefile @upmaru/maintainers @upmaru/devops-team

# Go module files - require core team approval
/go.mod @upmaru/maintainers @upmaru/core-team
/go.sum @upmaru/maintainers @upmaru/core-team

# Example code
/example/ @upmaru/maintainers @upmaru/docs-team

# Test files - require approval from testing team
*_test.go @upmaru/maintainers @upmaru/testing-team

# License and legal files
/LICENSE @upmaru/maintainers @upmaru/legal-team
/NOTICE @upmaru/maintainers @upmaru/legal-team

# Security-related files
/SECURITY.md @upmaru/maintainers @upmaru/security-team

# Configuration files
*.yml @upmaru/maintainers @upmaru/devops-team
*.yaml @upmaru/maintainers @upmaru/devops-team
*.json @upmaru/maintainers

# Specific critical files that require additional scrutiny
/neural/service.go @upmaru/maintainers @upmaru/core-team @upmaru/neural-team
/sensory/service.go @upmaru/maintainers @upmaru/core-team @upmaru/sensory-team
